@use '../helpers' as *;

.section {
    &__header {
        padding-block: fluid(120, 40);
        background-color: var(--color-dark-10);

        &-inner {
            &:has(.section__link) {
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                column-gap: 1rem;
            }
        }

        &-info {
            display: grid;
            align-items: start;
            row-gap: rem(16);

            @include laptop {
                row-gap: rem(10);
            }
        }
    }

    &__subtitle {
        justify-self: start;
    }

    &__body {
        border-block: var(--border);
    }
}