@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

// Blocks
@use 'blocks/budge';
@use 'blocks/burger-button';
@use 'blocks/button';
@use 'blocks/footer';
@use 'blocks/header';
@use 'blocks/icon';
@use 'blocks/logo';
@use 'blocks/soc1als';

@use 'blocks/metrics';
@use 'blocks/team';
@use 'blocks/resources-preview';
@use 'blocks/advantages-card';
@use 'blocks/hero';

@use 'blocks/tag';
@use 'blocks/section';
@use 'blocks/list';
@use 'blocks/tile';
@use 'blocks/card';

@use 'blocks/tabs';
@use 'blocks/person-card';
@use 'blocks/blog-actions';
@use 'blocks/blog-card';





.header, 
.footer,
main > *:not(:last-child){
    display: none !important;
}