@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

// Blocks
@use 'blocks/budge';
@use 'blocks/burger-button';
@use 'blocks/button';
@use 'blocks/footer';
@use 'blocks/header';
@use 'blocks/icon';
@use 'blocks/logo';
@use 'blocks/soc1als';